html,body{
  color: black;
  font-size: 25px;
}
.ans{
  color: #11C177;
  font-size: 14px;
  display: inline-block;
}
#pricelist{
  color: gray;
  font-size: 18px;
}
.input01{
  color: red;
  font-size: 18;
}
.ans{
  color: red;
  font-size: 18;
}
.box{
  text-align: center;
  margin:0 auto;
  display: inline-block;
  width: 500px;
  height: 270px;
  background-color: yellow;
}
.box1{
  margin: 10px;
  display: inline-block;
  border: : 1px;
  padding: 5px;
  background-color: #ffffff;
  font-size: 14px;
  font-family: fantasy;
  font-style: oblique;
}
.button1{
  display: inline-block;
  margin: 10px;
  border: : 1px;
  padding: 14px;
  background-color: #eeeeee;
  font-size: 18px;
  font-family: cursive;
}
.bnt{
  display: inline-block;
  margin: 10px;
  border: : 2px;
  padding: 14px;
  background-color: #eeeeee;
  font-size: 18px;
  font-family: cursive;
}
.input{
  color: blue;
  font-size: 14;
}
