<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=7" />
<title>网店网站示例</title>
<link href="style/header.css" rel="stylesheet" type="text/css" />
<link href="style/goods.css" rel="stylesheet" type="text/css" />
<link href="style/footer.css" rel="stylesheet" type="text/css" />
</head>

<body>
<!--顶部文件开始-->
<div id="header">

<div class="header_logo"><img src="images/shop_logo.jpg" /></div>
<div class="header_link">
<a href="#">系统登陆</a>
|
<a href="#">关于我们</a>
|
<a href="#">加入收藏</a>
|
<a href="#">设为主页</a>
</div>
<div class="header_nav">
	<span class="header_nav_block">
        <img src="images/shop_nav_1.gif" align="absmiddle"/> <a href="#">我的帐户</a>
    </span>
    <span class="header_nav_block">
    	<img src="images/shop_nav_2.gif" align="absmiddle"/> <a href="#">购物车</a>
    </span>
    <span class="header_nav_block">
    	<img src="images/shop_nav_3.gif" align="absmiddle"/> <a href="#">收藏夹</a>
    </span>
    <span class="header_nav_block">
    	<img src="images/shop_nav_4.gif" align="absmiddle"/> <a href="#">新手上路</a>
    </span>
</div>

<div class="header_ad">
    <span class="header_ad_left">
        <a href="#">
        <img src="images/shop_ad_1.jpg" alt="广告" />
        </a>
    </span>
    <span class="header_ad_right">
        <a href="#">
        <img src="images/shop_ad_2.jpg" alt="广告" />
        </a>
    </span>
</div>
</div>
<!--顶部文件结束-->
<!--主体文件开始-->
<div id="main">
    <div id="left">

<div id="search">
    <h1>查询商品</h1>
    <div class="search_blank">
      <form id="form1" name="form1" method="post" action="">
        <label>
          <input type="text" name="textfield" id="textfield" />&nbsp;&nbsp;&nbsp;<button class="search_button">搜索</button>
        </label>
      </form>
    </div>
</div>

<div id="list">
    <h2>书籍分类</h2>
    <div id="list_show">
        <ul>
             <li><a href="index.html" target="_blank">办公书籍</a></li>
            <li><a href="#" target="_blank">设计书籍</a></li>
            <li><a href="#" target="_blank">健身书籍</a></li>
            <li><a href="#" target="_blank">摄影书籍</a></li>
            <li><a href="#" target="_blank">工业书籍</a></li>
            <li><a href="#" target="_blank">电脑书籍</a></li>
            <li><a href="#" target="_blank">教你做菜</a></li>
            <li><a href="#" target="_blank">绘画书籍</a></li>
            <li><a href="#" target="_blank">生活书籍</a></li>
            <li><a href="#" target="_blank">幼儿书籍</a></li>
            <li><a href="#" target="_blank">考试书籍</a></li>
            <li><a href="#" target="_blank">小学书籍</a></li>
            <li><a href="#" target="_blank">初中书籍</a></li>
            <li><a href="#" target="_blank">高中书籍</a></li>
            <li><a href="#" target="_blank">教师书籍</a></li>
            <li><a href="#" target="_blank">国考书籍</a></li>
            <li><a href="#" target="_blank">会计书籍</a></li>
            <li><a href="#" target="_blank">经典小说</a></li>
            <li><a href="#" target="_blank">英语四级</a></li>
            <li><a href="#" target="_blank">股票基金</a></li>
            <li><a href="#" target="_blank">孕妇书籍</a></li>
            <li><a href="#" target="_blank">其他书籍</a></li>
        </ul>
    </div>
</div>


    </div>
    <div id="right">

 <div id="login">欢迎访问，请 <a href="#">登录</a> 或者 <a href="#">注册</a> </div>

<div id="new_goods">
    <div class="new_goods_title"><img src="images/shop_dot.jpg" align="absmiddle"/> 书籍详细信息</div>


<div class="the_goods">
    <h1>Word▪Excel▪PPT商务办公</h1>
    <span>
      <i><img src="images/apple.jpg" /></i>
		<!-- <i><img src="images/goods_1.jpg" /></i> -->
      <em>
        <p>市场价：<small>¥69.9</small></p>
        <p>现价：<big>¥35.9</big>为您节省：34.00元 (51折)</p>
        <p><u><a href="#"><img src="images/buttons_buy.jpg" alt="购买"/></a></u><u><a href="#"><img src="images/buttons_coll.jpg" alt="收藏" /></a></u><u><a href="#"><img src="images/buttons_comp.jpg" alt="对比" /></a></u></p>
      </em>
    </span>
    <span>
        <h2>产品描述</h2>
				<hr>
        <p><a href="#">Word▪Excel▪PPT现代商务办公从新手到高手(2016全彩畅销升级版)</a></p>
        <p><img src="images/info.jpg" /></p>
    </span>
    <span>
        <h2>包装清单</h2>
        <p><a href="#">Word▪Excel▪PPT现代商务办公从新手到高手(2016全彩畅销升级版)</a>书一本</p>
    </span>
    <span>
        <h2>德胜承诺</h2>
        德胜书坊向您保证所售商品为正版印刷，并可提供正规发票，与您亲临地面商场选购的商品享有同样的品质保证；如有缺页、倒页、脱页，由德胜书坊为您调换。其它商品按国家有关规定执行。德胜还为您提供具有竞争力的商品价格和配送费优惠，请您放心购买！
    </span>
</div>
</div>
</div>

<div id="base">
    <div id="pay">
        <div class="pay_title"><img src="images/shop_dot.jpg" align="absmiddle"/> 支付方式</div>
        <div class="pay_main">
          <a href="#"><img src="images/credit_card_1.jpg" alt="支付宝支付" width="73" height="46" /></a>
          <a href="#"><img src="images/credit_card_2.jpg" alt="微信支付" width="73" height="46" /></a>
          <a href="#"><img src="images/credit_card_3.jpg" alt="银联卡卡支付" width="73" height="46" /></a>
        </div>
    </div>
    <div id="news">
        <div class="news_title"><img src="images/shop_dot.jpg" align="absmiddle"/> 滚动新闻</div>
        <div class="news_main">
            <marquee onmouseover=this.stop() onmouseout=this.start() scrollamount=1 scrolldelay=7 direction=up width=707 height=70>
                <div id="index_highway_news_list">
                    <ul>
                        <li><a href="#" target="_blank">降价通知 [2017-6-20]</a></li>
                        <li><a href="#" target="_blank">点击消费,注册有大礼 [2017-6-20]</a></li>
                        <li><a href="#" target="_blank">华中华东配送延迟通知 [2017-6-20]</a></li>
                    </ul>
                </div>
            </marquee>
        </div>
    </div>
</div>

<div id="footer">
    <p>使用条件   |   隐私声明  Copyright © 2015- 2025 zhuanyeshuji shop All Rights Reserved</p>
</div>

</div>
</body>
</html>
