<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <title>info-class-08</title>
    <link rel="stylesheet" type="text/css" href="css/info-class-08.css">
  </head>

  <body>

<!--Sumation of a number field 1+1/2+1/3+1/4+1/5+,,, until number-->
  <div class = box>

    <p>Sumation of a number field</p>
    <form class = 'box1' id='myform' action = " " method = 'POST'>
      Number: <input class = 'input01' type = 'text' name='number'><br>
      Number: <div class = 'ans' id = 'number01'></div><br>
      Sumation of field: <div class = 'ans' id = 'sumation'></div><br>
    </form><br>

    <button class = 'button1' onclick = "printn()">Click to summerize of a number field</button>

  </div>

  </body>

  <script type="text/javascript" src="js/info-class-08.js"></script>

</html>
