<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <title>info-class-12</title>
    <link rel="stylesheet" type="text/css" href="css/info-class-12.css">

<style>
  table{
    /* display: flex;
    justify-content: center; */
    border-collapse: collapse;
    background-color: #888888;
    margin:0 auto;
  }
  table,tr,td{
    /* flex:none; */
    border: 1px solid black;
  }
  td{
    /* flex:none; */
    width: 80px;
    text-align: center;
  }
</style>
  </head>

  <body>
    <p>Automatically build a table</p>
    <button class = 'button1' onclick = "table()">Click to plot a table</button>
    <table id = "mytable"></table>
  </body>

  <script type="text/javascript" src="js/info-class-12.js"></script>

</html>
