<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <title>info-class-10</title>
    <link rel="stylesheet" type="text/css" href="css/info-class-10.css">
  </head>

  <body>

<!-- How many digits of an integer-->
  <div class = box>

    <p>How many digits of an integer</p>
    <form class = 'box1' id='myform' action = " " method = 'POST'>
      Integer: <input class = 'input01' type = 'text' name='number'><br>
      Answer: <div class = 'ans' id = 'answer'></div><br>
    </form><br>

    <button class = 'button1' onclick = "printn()">Click to find N</button>

  </div>

  </body>

  <script type="text/javascript" src="js/info-class-10.js"></script>

</html>
