<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <title>info-class-22</title>
</head>

<body>
<!-- 2D matrix -->
<!-- var m = [];
mm[0] = [1, 2, 3, 4, 5];
m[1] = [6, 7, 8, 9, 10];
m[2] = [11, 12, 13, 14, 15];
m[3] = [16, 17, 18, 19, 20];
m[4] = [21, 22, 23, 24, 25];
...... -->
<p>2D Matrix</p>
<script>

var m = [];

for(var i = 0; i < 5; i++){
  m[i] = [];
  for(var j = 0; j < 5; j++){
    m[i][j] = i * 5 + j + 1;
  }
}

// printing:
for (var i = 0; i < 5; i++){
  for(var j = 0; j < 5; j++){
    document.write(m[i][j] + ' ');
  }
    document.write('<br>');
}

</script>
</body>
</html>