<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <title>info-class-07</title>
    <link rel="stylesheet" type="text/css" href="css/info-class-07.css">
  </head>

  <body>

<!-- Find number that can be divided by 3&5 but not 2&7 -->
  <div class = box>

    <p>Find number that can be divided by 3&5 but not 2&7</p>
    <form class = 'box1' id='myform' action = " " method = 'POST'>
      Number: <input class = 'input01' type = 'text' name='number'><br>
      ThatNumber: <div class = 'ans' id = 'number01'></div><br>
    </form><br>

    <button class = 'button1' onclick = "find()">Click to verify</button>

  </div>

  </body>

  <script type="text/javascript" src="js/info-class-07.js"></script>

</html>
