<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <title>info-class-06</title>
    <link rel="stylesheet" type="text/css" href="css/info-class-06.css">
  </head>

  <body>

<!-- Calculations for Electricity Bill -->
  <div class = box>

    <p>Calculations for Electricity Bill</p>
    <form class = 'box1' id='myform' action = " " method = 'POST'>
      Number of hrs: <input class = 'input01' type = 'text' name='hours'><br>
      Total bill: <div class = 'ans' id = 'total'></div><br>
    </form><br>

    <button class = 'button1' onclick = "totalbill()">Click for bill</button>

  </div>

  </body>

  <script type="text/javascript" src="js/info-class-06.js"></script>

</html>
