<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <title>001-Zeng-class-023</title>
    <!-- <link rel="stylesheet" type="text/css" href="css/zeng-class.css"> -->
</head>

<body>
<!-- 2D matrix -->
<!-- var m = [];
m[0] = [1, 6, 11, 16, 21];
m[1] = [2, 7, 12, 17, 22];
m[2] = [3, 8, 13, 18, 23];
m[3] = [4, 9, 14, 19, 24];
m[4] = [5, 10, 15, 20, 25];
...... -->
<p>2D matrix</p>

<script>

var m = [];
for(var i = 0; i < 5; i++){
  m[i] = [];
  for(var j = 0; j < 5; j++){
    m[i][j] = i * 5 + j + 1;
  }
}

// printing:
for (var i = 0; i < 5; i++){
  for(var j = 0; j < 5; j++){
    document.write(m[j][i] + '  ');
  }
    document.write('<br>');
}

</script>
</body>
</html>
