<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <title>Zeng-class-03</title>
    <link rel="stylesheet" type="text/css" href="css/info-class-03.css">
  </head>

  <body>

    <p>Find max & min number from 3 numbers</p>
      Input number A: <input id = 'a'><br>
      Input number B: <input id = 'b'><br>
      Input number C: <input id = 'c'><br>
      Max number: <div class = 'ans' id = 'numberMax'></div>
      Min number: <div class = 'ans' id = 'numberMin'></div>
    <hr>

    <p>Find sumation for 3 numbers</p>
    <form class = 'ans' id='myform' action = " " method = 'POST'>
      Number-01: <input type = 'text' name='number01'><br>
      Number-02: <input type = 'text' name='number02'><br>
      Number-03: <input type = 'text' name='number03'><br>
    </form>

    <button class = 'ans' onclick = "sum()">Click to get sumation</button><br>

    The sumation:  <p class = 'ans' id='demo01'></p>
    The length Of Form: <p class = 'ans' id='demo02'></p>

  </body>

  <script type="text/javascript" src="js/info-class-03.js"></script>

</html>
