<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <title>Zeng-class-02</title>
    <link rel="stylesheet" type="text/css" href="css/info-class-02.css">
  </head>

  <body>

    <p>Purchace photo, price based on quantity</p>
    <ul id = 'pricelist' style="list-style-type:square;">
      <li>Quantity <=10:        100NTD/ea </li>
      <li>Quantity <=50:        95NTD/ea </li>
      <li>Quantity <=100:       90NTD/ea </li>
      <li>Quantity <=1000:      85NTD/ea </li>
      <li>Quantity >1000:       80NTD/ea </li>
    </ul>
    <hr>
    Quantity of photos: <input id = 'amount'><br>
    Total price: <div id = 'total'></div>

  </body>

  <script type="text/javascript" src="js/info-class-02.js"></script>
</html>
