{% extends 'layout.html' %}
{% block body %}
          <h1>HTML/CSS/Javascript Examples</h1>
          <p> This page contains list of examples for practice html+css+javascript </p>
        
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">File Name</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td><a href="/infoclass01">info-class-01</a></td>
              <td>Input a three digits number</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td><a href="/infoclass02">info-class-02</a></td>
              <td>Purchace photo, price based on quantity</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td><a href="/infoclass03">info-class-03</a></td>
              <td>Find the max & min from 3 numbers</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td><a href="/infoclass04">info-class-04</a></td>
                <td>Basic Calculation for 2 numbers</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td><a href="/infoclass05">info-class-05</a></td>
                <td>Basic Calculation for 2 numbers</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td><a href="/infoclass06">info-class-06</a></td>
                <td>Calculations for Electricity Bill based on hours</td>
              </tr>
              <tr>
                  <th scope="row">7</th>
                  <td><a href="/infoclass07">info-class-07</a></td>
                  <td>Find number that can be divided by 3&5 but not 2&7</td>
              </tr>
              <tr>
                  <th scope="row">8</th>
                  <td><a href="/infoclass08">info-class-08</a></td>
                  <td>Sumation of a number field 1+1/2+1/3+1/4+1/5+,,, until the input integer</td>
              </tr>
              <tr>
                  <th scope="row">9</th>
                  <td><a href="/infoclass09">info-class-09</a></td>
                  <td>Verify a prime number that can be only devided by itsself</td>
              </tr>
              <tr>
                  <th scope="row">10</th>
                  <td><a href="/infoclass10">info-class-10</a></td>
                  <td>Figuer out how many digits of an integer</td>
              </tr>
              <tr>
                    <th scope="row">11</th>
                    <td><a href="/infoclass11">info-class-11</a></td>
                    <td>Multipal loops</td>
              </tr>
              <tr>
                    <th scope="row">12</th>
                    <td><a href="/infoclass12">info-class-12</a></td>
                    <td>Automatically build a table</td>
              </tr>
              <tr>
                    <th scope="row">13</th>
                    <td><a href="/infoclass13">info-class-13</a></td>
                    <td>Automatically calculate the collums based on an input integer</td>
              </tr>
              <tr>
                  <th scope="row">14</th>
                  <td><a href="/infoclass14">info-class-14</a></td>
                  <td>1D Array</td>
              </tr>
              <tr>
                  <th scope="row">15</th>
                  <td><a href="/infoclass15">info-class-15</a></td>
                  <td>Transform a decimal number to binary digits</td>
              </tr>
              <tr>
                  <th scope="row">16</th>
                  <td><a href="/infoclass16">info-class-16</a></td>
                  <td>Generate a set of random numbers and process it</td>
              </tr>
              <tr>
                  <th scope="row">17</th>
                  <td><a href="/infoclass17">info-class-17</a></td>
                  <td>Sortering</td>
              </tr>
              <tr>
                  <th scope="row">18</th>
                  <td><a href="/infoclass18">info-class-18</a></td>
                  <td>Wash cards</td>
              </tr>
              <tr>
                  <th scope="row">19</th>
                  <td><a href="/infoclass19">info-class-19</a></td>
                  <td>Wash & distribut cards</td>
              </tr>
              <tr>
                  <th scope="row">20</th>
                  <td><a href="/infoclass20">info-class-20</a></td>
                  <td>Binary Search</td>
              </tr>
              <tr>
                  <th scope="row">21</th>
                  <td><a href="/infoclass21">info-class-21</a></td>
                  <td>1D Binary Search, 100 numbers between 1 to 30</td>
            </tr>
            <tr>
                  <th scope="row">22</th>
                  <td><a href="/infoclass22">info-class-22</a></td>
                  <td>Build a 2D matrix</td>
            </tr>
            <tr>
                  <th scope="row">23</th>
                  <td><a href="/infoclass23">info-class-23</a></td>
                  <td>Build a 2D matrix</td>
            </tr>
            <tr>
                <th scope="row">24</th>
                <td><a href="/infoclass24">info-class-24</a></td>
                <td>2D matrix manipulation</td>
            </tr>
            <tr>
                <th scope="row">25</th>
                <td><a href="/infoclass25">info-class-25</a></td>
                <td>Play with a table of data</td>
            </tr>
            <tr>
                <th scope="row">26</th>
                <td><a href="/infoclass26">info-class-26</a></td>
                <td>Long interger operation</td>
            </tr>
            <tr>
              <th scope="row">27</th>
              <td><a href="/infoclass27">info-class-27</a></td>
              <td>Matrix Multiplication</td>
          </tr>

          </tbody>
        </table>
        
{% endblock %}