{% extends 'layout.html' %}
{% block body %}

    <h2>Find the max & min from 3 numbers</h2>
      Input number A: <input id = 'a'><br>
      Input number B: <input id = 'b'><br>
      Input number C: <input id = 'c'><br>
      Max number: <div class = 'ans' id = 'numberMax'></div>
      Min number: <div class = 'ans' id = 'numberMin'></div>
    <hr>

    <h2>Find sumation for 3 numbers</h2>
    <form class = 'ans' id='myform' action = " " method = 'POST'>
      Number-01: <input type = 'text' name='number01'><br>
      Number-02: <input type = 'text' name='number02'><br>
      Number-03: <input type = 'text' name='number03'><br>
    </form>

    <button class = 'ans' onclick = "sum()">Click to get sumation</button><br>

    The sumation:  <p class = 'ans' id='demo01'></p>
    The length Of Form: <p class = 'ans' id='demo02'></p>


  <script type="text/javascript">
  //for var a,b,c three numbers
    var a, b, c, numberMax, numberMid, numberMin;

//(1) to find numberMax;
    document.getElementById("a").onchange = function(event) {
      a = event.target.value;
    }

    document.getElementById("b").onchange = function(event) {
      b = event.target.value;
    }

    document.getElementById("c").onchange = function(event) {
      c = event.target.value;
      
//Find Max
      if(a <= b){
        if (b <= c){
          numberMax = c;
        }
        else{
          numberMax = b;
        }
      }
      else{
        if (a <= c){
          numberMax = c;
        }
        else{
          numberMax = a;
        }
      }
  //Find min
      if(a <= b){
        if (a <= c){
          numberMin = a;
        }
        else{
          numberMin = c;
        }
      }
      else{
        if (b <= c){
          numberMin = a;
        }
        else{
          numberMin = c;
        }
      }
      document.getElementById("numberMax").innerHTML = (numberMax);
      document.getElementById("numberMin").innerHTML = (numberMin);
    }

// document.getElementById("b").click = function(event) {
//   b = event.target.value;
// }

    var n1,n2,n3,sumation,lengthOfForm;

    function sum(){
      n1 = document.forms['myform'].elements['number01'].value;
      n2 = document.forms['myform'].elements['number02'].value;
      n3 = document.forms['myform'].elements['number03'].value;
      console.log('n1: ', n1);
      sumation = parseInt(n1)+parseInt(n2)+parseInt(n3);
      document.getElementById("demo01").innerHTML = (sumation);
      lengthOfForm = document.getElementById('myform').elements.length;
      document.getElementById("demo02").innerHTML = lengthOfForm;
    }

  </script>

{% endblock %}