<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <title>001-Zeng-class-001</title>
    <link rel="stylesheet" type="text/css" href="css/zeng-class.css">

  </head>

  <body>

<!-- add, subtact, multiply, divide -->
  <div class = box>

    <p>Midterm</p>

    <form class = 'box1' id='myform' action = " " method = 'POST'>
      No.1: <input class = 'input' type = 'text' name='number01'><br>
      No.2: <input class = 'input' type = 'text' name='number02'><br>
      Ans: <input class = 'input' type = 'text' name = 'answer'>
    </form><br>
    <!-- Result: <div class = 'ans' id = 'total'></div><br> -->
    <button class = 'btn' onclick = "plus()">+</button>
    <button class = 'btn' onclick = "minus()">-</button>
    <button class = 'btn' onclick = "multiply()">x</button>
    <button class = 'btn' onclick = "divide()">/</button><br>
    <p id="R&W">R&W</p>

  </div>

  </body>

  <script type="text/javascript" src="js/zenmidterm-01.js"></script>

</html>
